.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  width: full;
  outline: none;
  border-radius: 10px;
  border: 0;
  font-size: 22px;
  width: 96%;
}

.button {
  margin: 2px;
  border-radius: 15px;
}

.inputF {
  position: absolute;
  bottom: 5px;
  width: 90%;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  border: solid 2px gainsboro;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
